/* 
 *  Diego Castellanos dac392
 *	Abid Azad aa2177
 */
.description-container{
	-fx-background-color: #bfd1df;
}
.description-card{
	-fx-background-color: #35455d;
	-fx-background-radius: 30.0px;
}
.button{
	-fx-background-radius: 20.0px;
	-fx-background-color: #f2e8cd;
}

.list-container{
	-fx-background-color: #fff;
}

#song-list{
	-fx-background-color: #eee;
}

#modalCard{
	-fx-background-color: #fff;
}
#modal-bg{
	-fx-background-color: rgba(0, 0, 0, 0.5);

}



